/* Header styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav-link {
  color: #4A5568; /* text-gray-600 */
  transition: color 0.3s;
}

.nav-link:hover {
  color: #2D3748; /* text-gray-800 */
}

.nav-link.active {
  color: yellow!important; /* Add a distinct color for the active link */
  font-weight: bold;
}

.nav-link.active-mobile{
  color : blue!important;

}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.close-btn {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links.nav-active {
    transform: translateX(0%);
  }

  .burger {
    display: flex;
  }

  .close-btn {
    display: block;
    margin-bottom: 1rem;
  }
}
