<nav class="navbar min-w-full bg-white shadow-lg fixed top-0 w-full z-50">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <div class="logo text-xl font-bold">Vishal Rana</div>

    <!-- Desktop navigation links -->
    <div class="nav-links hidden md:flex items-center space-x-6">
      <a
        *ngFor="let data of menu"
        [routerLink]="data.link"
        (click)="scrollTo(data.link)"
        [class.active]="
          isActive(data.link) || activeSection === data.menu.toLowerCase()
        "
        class="nav-link text-gray-600 hover:text-gray-800 transition duration-300 text-nowrap"
      >
        {{ data.menu }}
      </a>
    </div>

    <!-- Mobile burger menu -->
    <div class="burger md:hidden flex items-center" (click)="toggleMenu()">
      <mat-icon class="m-8 transform scale-150" [color]="'primary'">menu</mat-icon>
    </div>
  </div>

  <!-- Mobile navigation links -->
  <div
  *ngIf="isMenuOpen"
    class="nav-links-mobile md:hidden bg-white fixed top-0 right-0 h-screen w-4/5 z-30 transform transition-all duration-1000">
    <div class="absolute top-8 right-8">
      <button class="mx-6 mb-8 mt-8" (click)="toggleMenu()">
        <mat-icon class="transform scale-150" [color]="'primary'" >close</mat-icon>
      </button>
    </div>
    <div class="flex flex-col items-center mt-20">
      <a
        *ngFor="let data of menu"
        [routerLink]="data.link"
        (click)="scrollTo(data.link)"
        [class.active-mobile]="
          isActive(data.link) || activeSection === data.menu.toLowerCase()
        "
        class="nav-link text-gray-600 hover:text-gray-800 transition duration-300 py-4 text-nowrap"
      >
        {{ data.menu }}
      </a>
    </div>
  </div>
</nav>
