<div class="flex flex-col items-center">
  <div class="container mx-auto">
    <h3 class="text-2xl font-bold text-nowrap text-center">
      Awards and Recognition
    </h3>
    <div *ngFor="let category of getCategories()">
      <h5 class="text-xl font-bold text-nowrap text-center">
        {{ category }}
      </h5>

      <div *ngIf="!category.toLowerCase().includes('academic')">
        <app-award
          *ngFor="let item of getItems(category)"
          [icon]="item.icon"
          [title]="item.title"
          [date]="item.date"
          [description]="item.description"
          [issuedBy]="item.issuedBy"
          [highlights]="item.highlights"
        ></app-award>
      </div>

      <div *ngIf="category.toLowerCase().includes('academic')">
        <ul
          class="mx-4 px-4 pb-4 list-disc font-mono text-lg"
          *ngFor="let item of getItems(category)"
        >
          <li>{{ item.data }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
