<p>skills works!</p>
<button (click)="openDialog()" class="bg-green-500 rounded-lg p-2">
  Open Dialog
</button>


<h1 class="text-4xl font-bold mb-4 text-gray-800">Skills </h1>
<div class="container mx-auto px-4 py-8">
  <div *ngIf="skillCategories">
    <div *ngFor="let skillTitle of getTitles()" class="text-2xl font-bold mb-2 text-gray-800">
      {{skillTitle}}
      <div class="flex flex-row justify-start items-baseline flex-wrap">
        <app-skill-card *ngFor="let skill of getSkills(skillTitle)"
        [src]="skill.src" [alt]="skill.alt" [height]="skill.height?skill.height:70" [width]="skill.width?skill.width:70" [level]="skill.level?skill.level:0" ></app-skill-card>
      </div>
    </div>
  </div>
</div>
