<app-header></app-header>

<section id="home" class="pt-20">
  <app-home></app-home>
</section>


<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>

<section id="profile" class="pt-20">
  <app-profile></app-profile>
</section>


<mat-divider class=" min-w-[640px]" style="margin: 1rem;" ></mat-divider>

<section id="portfolio" class="pt-20">
  <app-portfolio></app-portfolio>
</section>

<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>


<section id="projects" class="pt-20">
  <app-projects></app-projects>
</section>

<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>


<section id="why-me" class="pt-20">
  <app-why-me></app-why-me>
</section>

<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>


<section id="skills" class="pt-20">
  <app-skills></app-skills>
</section>

<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>


<section id="contact" class="pt-20">
  <app-contact></app-contact>
</section>

<mat-divider class=" min-w-[640px]" style="margin: 1rem;"></mat-divider>


<router-outlet></router-outlet>
