<div class="container container-min-w min-w-[640px] mx-auto px-8 flex flex-col align-middle mt-16">
  <h1 class="font-mono text-2xl self-center content-center" >
    👋 Greetings
  </h1>
  <div class=" mx-auto align-top sm:flex sm:flex-col md:block">
    <img src="../../assets/images/photo.jpg" class="sm:block md:inline-block md:float-left m-8 object-scale-down" alt="Photo" >

      <div class="sm:block md:inline">
        Hi, I'm Vishal Rana, a passionate developer with an insatiable curiousity for understanding tech systems whenever I come accross them. My obsession with technology drives me to constantly explore and experiment with innovative solutions.
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      Hi, I'm Vishal Rana, a passionate developer with an insatiable curiousity for understanding tech systems whenever I come accross them. My obsession with technology drives me to constantly explore and experiment with innovative solutions.
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      Hi, I'm Vishal Rana, a passionate developer with an insatiable curiousity for understanding tech systems whenever I come accross them. My obsession with technology drives me to constantly explore and experiment with innovative solutions.
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      Hi, I'm Vishal Rana, a passionate developer with an insatiable curiousity for understanding tech systems whenever I come accross them. My obsession with technology drives me to constantly explore and experiment with innovative solutions.
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      Hi, I'm Vishal Rana, a passionate developer with an insatiable curiousity for understanding tech systems whenever I come accross them. My obsession with technology drives me to constantly explore and experiment with innovative solutions.
      <p>I have honed my skills through hands-on experience and continous learning. My journey in software development is fueled by a desier to deive deep into the intricacies of various tech systes, and always striving to understand how they work.</p>
      <p>I aim to keep growing as a developer, continually seeking out new opportunities to learn and contribute.</p>
      </div>
  </div>

</div>
